/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.dark-theme {
  background-color: rgb(0, 79, 113);
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 85px;
  padding: 15px; /* firefox bug fix */
  width: auto;
}

nav.dark-theme {
  position: fixed;
  z-index: 100;
  width: 100%;
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
}

.navbar-nav {
  text-align: center;
  float: none;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

.navbar-padding {
  margin-left: 50px;
  margin-right: 50px;
}

.navbar-default .navbar-nav > li > a {
  color: rgb(255, 255, 255);
}

.background-logo {
  position: fixed;
  height: auto;
  z-index: -1;
  left: 50%;
  margin-left: auto;
  margin-left: -250px;
  width: 500px;
  opacity: 0.3;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  margin-right: -30px;
  color: rgb(0, 79, 113)
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-next {
  margin-left: -30px;
  color: rgb(0, 79, 113)
}

.slug-link a:hover, .slug-link a:visited, .slug-link a:link, .slug-link a:active
{
  text-decoration: none !important;
}

.section-header-padding-top {
  padding-top: 140px;
}

.section-header-padding-bottom {
  padding-bottom: 40px;
}

.section-header-underline {
  content: '';
  display: block;
  width: 80px;
  height: 2px;
  background: rgb(0, 79, 113);
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img .main-bg {
  background-size: contain;
  height: 100vh;
  width: 100%;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}

.card-img-top {
  height:150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.card {
  background-color: rgba(0, 79, 113, 0.7);
  width: 70%;
  max-height: 310px;
  padding-top: 30px;
  padding-bottom: 50px;
  box-shadow: 3px 6px 6px rgba(0,0,0,0.2);
  cursor: pointer;
}

.card:hover {
  opacity: 0.5;
}

.card-body {
  color: white;
}

.modal-img {
  height:150px;
}

.section-img {
  width: 100%;
  padding-bottom: 30px;
}

.section-content-container {
  margin-left: 30px;
  margin-right: 30px;
}

.footer {
  height: 50vh;
  color: rgb(158, 122, 96);
}

.contact-footer a {
  text-decoration: none !important;
  color: rgb(158, 122, 96);
}

.social-links {
  font-size: 60px;
}

.footer-text-container {
  padding-top: 50px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.mobile-screen {
  display: none;
}

@media screen and (max-width: 520px){
  nav.dark-theme {
    position: absolute;
  }

  .bg-image-carousel {
    padding-top: 100px;
  }

  .carousel-inner > .item > img, .carousel-inner > .item > a > img .main-bg {
    background-size: contain;
    height: 50vh;
    width: 100%;
  }

  nav.dark-theme {
    height: 100px;
  }

  .navbar-toggle {
    margin-top: 30px;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    background-color: rgb(0, 79, 113);
  }

  .navbar-nav {
    line-height: 0;
  }

  .navbar-collapse {
    box-shadow: none;
  }

  .navbar .container-fluid {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .navbar .navbar-padding {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .navbar-brand {
    margin-left: 15px !important;
  }

  .regular-screen {
    display: none;
  }

  .mobile-screen {
    display: block;
  }

  .card {
    max-width: 300px;
  }

  .background-logo {
    margin-left: -125px;
    width: 250px;
  }

  .left.carousel-control {
    margin-left: 3%;
  }

  .right.carousel-control {
    margin-right: 3%;
  }

  .section-3 .text-container {
    padding-bottom: 40px;
  }

  .section-4 .text-container {
    padding-bottom: 40px;
  }

  .navbar-header {
    float: none;
  }

  .navbar-left,.navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in{
    display:block !important;
  }
}

@media screen and (min-width: 521px) and (max-width: 872px){
  nav.dark-theme {
    position: absolute;
  }

  .bg-image-carousel {
    padding-top: 100px;
  }

  .carousel-inner > .item > img, .carousel-inner > .item > a > img .main-bg {
    background-size: contain;
    height: 70vh;
    width: 100%;
  }

  nav.dark-theme {
    height: 100px;
  }

  .navbar-toggle {
    margin-top: 30px;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    background-color: rgb(0, 79, 113);
  }

  .navbar-nav {
    line-height: 0;
  }

  .navbar-collapse {
    box-shadow: none;
  }

  .navbar .container-fluid {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .navbar .navbar-padding {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .navbar-brand {
    margin-left: 15px !important;
  }

  .regular-screen {
    display: none;
  }

  .mobile-screen {
    display: block;
  }

  .card {
    max-width: 300px;
  }

  .background-logo {
    margin-left: -125px;
    width: 250px;
  }

  .left.carousel-control {
    margin-left: 3%;
  }

  .right.carousel-control {
    margin-right: 3%;
  }

  .section-3 .text-container {
    padding-bottom: 40px;
  }

  .section-4 .text-container {
    padding-bottom: 40px;
  }

  .navbar-header {
    float: none;
  }

  .navbar-left,.navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in{
    display:block !important;
  }
}

@media screen and (min-width: 873px) and (max-width: 1297px){
  .home-logo {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
  }

  .navbar-nav {
    line-height: 0;
    margin-top: 50px;
  }
}
